.btn {
  height: 30px;
  width: 60px;
  text-align: center;
  font-weight: 700;

  margin-right: 10px;

  background-color: cornflowerblue;

  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btnContainer {
  margin-top: 20px;
}
